[initiallyHidden]{display: none;}

body {
	background-image: url("/img/wood__main_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}

sarah-header {
	margin: 0;
	width: 100%;
	height: 80vh;
	display: flex;
	justify-content: center;
	background-image: url("/img/wood_header_background.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
