[initiallyHidden] {
	display: none;
}

* {
	color: #ffffff;
	font-family: Signika, sans-serif;
}

html {
	font-size: 1.2em;
}

body>* {
	position: relative;
}

body {
	overflow-x: hidden;
	background-image: url("/x/assets/images-large/backgrounds/background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-repeat: repeat;
	margin: 0;
	padding: 0;
}

section, main {
	margin-top: 10em;
	margin-bottom: 10em;
}

/* section {
	background-color: #f5d8acc0;
} */

/* HEADER */
.header-background {
	background-image: url("/x/assets/images-large/backgrounds/header.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}

.header-background div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	background-color: #00000066;
	width: 100%;
	height: 100vh;
}

h1, p {
	color: #ffffff;
}

h1 a {
	font-size: 1.2em;
}

p {
	font-size: 1.5em;
}

nav {
	position: relative;
	top: 0;
	width: 100%;
	position: fixed;
	background-color: #000000;
	padding: 1em;
	z-index: 4;
}
ol {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	align-items: center;
}

span {
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9em;
}

a:hover, .subnav span:hover {
	color: #f2e172;
}

.subnav>div {
	position: absolute;
}

.subnav a {
	font-size: 1em;
	width: 100%;
}

.subnav>div {
	display: none;
	margin-top: .5em;
	padding-left: .3em;
}

li:hover {
	cursor: pointer;
	color: #009bff;
}

.subnav:hover div{
	display: flex;
	flex-wrap: wrap;
}

.subnav span {
	margin: 0;
	background: none;
	border: none;
}

a, .subnav span {
	text-decoration: none;
	font-size: 1.4em;
	color: #ffffff;
	width: 100%;
	padding: .5em;
}

h1 {
	font-size: 1.8em;
	text-align: center;
	font-weight: 900;
}

p {
	font-size: 1.2em;
	text-align: start;
}

.about {
	text-align: center;
}

.about, .contact {
	align-items: center;
	display: flex;
	height: 100vh;
}

.about h1, .about p {
	color: #000000;
}

.about div {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.about img {
	height: 100vh;
	width: 50%;
}

/* CONTACT */
.contact div>p, h3 {
	color: #000000;
}

.contact>div {
	margin-left: 5em;
	white-space: nowrap
}

h3 {
	font-size: 1.8em;
	text-align: start;
}

.contact-wrapper {
	width: 75%;
}

form {
	display: flex;
	flex-wrap: wrap;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	outline: 0;
	border-width: 0 0 2px;
}

input[type=submit] {
	background-color: #d4cc9a;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #f2e172;
}

input:focus {
	border-color: none;
}

div {
	padding: 5em;
	margin-left: auto;
	margin-right: auto;
}

form div {
	padding: 1em;
	flex-grow: 1;
}

form div:nth-child(7) {
	width: 100%;
}

/* WORK */



/* SOCIAL MEDIA  */

.icons {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	margin: .5em;
}

#social {
	width: 80%;
	margin: auto;
}

#social>div {
	text-align: center;
}

/* FOOTER */
