[initiallyHidden] {
	display: none;
}

* {
	font-family: Signika, sans-serif;
}

html {
	font-size: 1.2em;
}

body>* {
	position: relative;
}

body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
}

main {
	border-top: solid 1px #000000;
	margin-bottom: 3em;
}

section {
	padding-top: 3em;
	padding-bottom: 3em;
	border-top: solid 1px #000000;
}

section:first-child {
	border: none;
  }

section {
	background-color: #ffffff;
}

/* HEADER */
header {
	padding-bottom: 3em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

header h1 {
	width: 100%;
}

h1 a {
	font-size: 1.2em;
}

p {
	font-size: 1.5em;
	color: #000000;
}

nav {
	top: 0;
	width: 100%;
	position: sticky;
	background-color: #ffffff;
	padding-top: 1em;
	padding-bottom: 1em;
	z-index: 4;
}

.nav-wrapper {
	display: flex;
	justify-content: center;
}

.logo {
	height: 200px;
	width: 200px;
	margin-top: 2em;
}

ol {
	display: flex;
	justify-content: center;
	list-style-type: none;
	margin: 0;
	padding: 0;
	align-items: center;
}

span {
	color: #000000;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 9em;
}

a:hover, .subnav span:hover {
	color: #f2e172;
}

.subnav a {
	font-size: 1em;
	width: 100%;
}

.subnav>div {
	position: absolute;
	display: none;
	margin-top: .5em;
	padding-left: .3em;
	background-color: #ffffff;
	width: min-content;
}

li:hover {
	cursor: pointer;
	color: #009bff;
}

.subnav:hover div {
	display: flex;
	flex-wrap: wrap;
}

.subnav span {
	margin: 0;
	background: none;
	border: none;
}

a, .subnav span {
	text-decoration: none;
	font-size: 1.4em;
	color: #000000;
	width: 100%;
	padding: .5em;
}

span p {
	color: #000000;
}

h1 {
	font-size: 1.8em;
	text-align: center;
	font-weight: 900;
}

p {
	font-size: 1.2em;
	text-align: start;
}

/* WORK */
.work-wrapper {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.project_wrapper {
	margin: 10px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	flex: 0 0 auto;
}

image-modal {
	position: relative;
	z-index: 999;
}

/* INSTAGRAM */
#instagram > h1, #instagram > p {
	color: #000000;
	text-align: center;
}

/* ABOUT */
.about {
	text-align: center;
}

.about, .contact {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
}

.about h1, .about p {
	color: #000000;
}

.about-img-wrapper {
	width: 30%;
	margin-left: auto;
	margin-right: auto;
}

.about-text-wrapper {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

.about img {
	height: 250px;
	width: 250px;
}

/* CONTACT */
.contact div>p, h3 {
	color: #000000;
}

.contact>div {
	margin-left: 5em;
	white-space: nowrap
}

h3 {
	font-size: 1.8em;
	text-align: start;
}

.contact-wrapper {
	width: 75%;
}

form {
	display: flex;
	flex-wrap: wrap;
}

input[type=text], select, textarea {
	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
	outline: 0;
	border-width: 0 0 2px;
}

input[type=submit] {
	background-color: #d4cc9a;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

input[type=submit]:hover {
	background-color: #f2e172;
}

input:focus {
	border-color: none;
}

form div {
	padding: 1em;
	flex-grow: 1;
}

form div:nth-child(7) {
	width: 100%;
}

/* WORK PAGES */
.project-title {
	margin-top: 2em;
}

.enlarge-image-wrapper
{
	margin-top: 3em;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

/* FOOTER */
footer {
	border-top: solid 1px #000000;
	padding-top: 3em;
	width: 100%;
	font-size: .8em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
